@mixin clearfix {
  *zoom: 1;
  &:after, &:before {
    content: "";
    display: table;
    height: 0px;
    clear: both;
    visibility: hidden;
  }
}

@mixin font-dpr($font-size) {
  font-size: $font-size;

  [data-dpr="2"] & {
    font-size: $font-size * 2;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3;
  }
}

$fontFamily: Helvetica, Tahoma, Arial, 'Hiragino Sans GB', STXihei, "Microsoft YaHei", SimSun, Heiti, sans-serif;

