/**
这里存放全局变量
 */

$fontFamily: Helvetica, Tahoma, Arial, 'Hiragino Sans GB', STXihei, "Microsoft YaHei", SimSun, Heiti, sans-serif;

// 全局外层左右 padding
$bodyPadding: 36;

// 全局输入组左右 padding
$inputPadding: 36;

// 全局边框默认颜色
$borderDefaultColor: rgba(0, 0, 0, 0.05);
// 激活态边框颜色
$borderMainColor: rgba(24, 189, 145, 0.5);

// 全局主色调
$mainColor: #18BD91;
$textDefaultColor: #000;

$bgColor: #fff;
