<!-- 弹层 S -->
<div *ngIf="isOpened">
  <div class="modal-mask"></div>
  <div class="modal" role="popup-dialog" #modalRoot>
    <div [class]="'modal-dialog ' + clazz" #modalDialog (click)="preventClosing($event)">
      <div class="modal-content" tabindex="0">
        <div class="modal-header">
          <div class="row-control">
            <h4 class="title">{{title}}</h4>
          </div>
        </div>
        <div class="modal-body">
          <ng-content select="[modal-content]"></ng-content>
        </div>
        <div class="modal-footer">
          <button *ngIf="cancelButtonLabel.length > 0" (click)="close()" class="button cancel" [class.full-fill]="
        !submitButtonLabel" #cancel>{{cancelButtonLabel}}</button>
          <button *ngIf="submitButtonLabel.length > 0" (click)="submit()" class="button primary" [class.full-fill]="!cancelButtonLabel"
            #primary>{{submitButtonLabel}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 弹层 E -->
