<div id="query-index" class="">
  <form class="form">
    <div class="row-control">
      <input-control class="input-control" type="text" name="username" placeholder="姓名" [(ngModel)]="username"></input-control>
      <input-control class="input-control" type="tel" name="mobile" placeholder="手机号" [(ngModel)]="mobile" maxlength="11" minlength="11"></input-control>
      <input-control class="input-control sms-control" type="text" name="captcha" placeholder="请输入验证码" [(ngModel)]="captcha">
        <count-down class="btn-send-sms" counter="50" title="获取验证码" countText="秒后重新获取"></count-down>
      </input-control>
    </div>
    <div class="row-control btn-control">
      <a class="button submit" (click)="onSubmit()">下一步</a>
      <!--<a class="button submit" routerLink="submit">下一步</a>-->
    </div>
  </form>
</div>
