@import "../../../../assets/global/_function";
@import "../../../../assets/global/_mixin";
@import "../../../../assets/global/_variables";

// 发送验证码
.btn-send-sms {
  position: absolute;
  z-index: 3;
  outline: none;
  @include font-dpr(14px);
  color: $mainColor;
  right: 0;
  top: px2rem(26);
  padding: 0 px2rem(52);
  height: px2rem(112);
  line-height: px2rem(112);
  text-align: center;
  border: 1px solid $mainColor;
  border-radius: px2rem(60);
  cursor: pointer;

  button {
    color: $mainColor;
    border:0;
    background-color: #fff;
  }

  &.timing {
    border-color: rgba(0,0,0, .3);

    button {
      color: rgba(0,0,0, .3);
    }
  }
}
