<form *ngIf="formActive" class="form" [formGroup]="verifyFormGroup" (ngSubmit)="onSubmit($event)">

  <div class="row-control">
    <input-control class="input-control"
      [class.error]="!username.valid && username.touched"
      type="text"
      name="username"
      placeholder="姓名"
      [formControl]="username">
      <p *ngIf="!username.valid && username.touched" class="error-tips">请输入您的姓名</p>
    </input-control>
    <input-control #phone class="input-control"
      [class.error]="!mobile.valid && mobile.touched"
      type="tel"
      name="mobile"
      placeholder="手机号"
      maxlength="11"
      [formControl]="mobile">
      <p *ngIf="mobile.touched && mobile.hasError('mobile')" class="error-tips">请输入正确的手机号码</p>
    </input-control>
    <input-control class="input-control sms-control"
      [class.error]="!captcha.valid && captcha.touched"
      type="tel"
      name="captcha"
      placeholder="请输入验证码"
      [formControl]="captcha"
      maxlength="6">
      <count-down class="btn-send-sms" (click)="sendSms($event)" counter="50" title="获取验证码" countText="秒后重新获取"></count-down>
      <p *ngIf="!captcha.valid && captcha.touched" class="error-tips">请输入验证码</p>
    </input-control>
  </div>
  <div class="row-control btn-control">
    <button class="button submit" [disabled]="!verifyFormGroup.valid" type="submit">下一步</button>
  </div>
  <div class="row-control btn-control">
    <a class="button" href="javascript:;" (click)="resetForm()" type="submit">重置表单</a>
  </div>
</form>
