<div class="container">
  <div class="content">
    <form class="form">
      <div class="row-control">
        <input-control [class.error]="!sn.valid && sn.touched" type="text" name="sn" placeholder="手机 SN 码" [formControl]="sn">
          <p *ngIf="!sn.valid && sn.touched" class="error-tips">请输入手机号 SN 码</p>
        </input-control>
      </div>
      <div class="row-control">
        <select-control name="serviceType" label="服务类型" [result]="serviceType.value" (click)="_handleSelectClick($event, 'serviceType')"></select-control>
        <select-control name="faultType" label="故障类型" [result]="faultType.value" (click)="_handleSelectClick('faultType')"></select-control>
      </div>
      <div class="row-control">
        <div class="input-control is-take-control">
          <i class="icon icon-radio"></i>
          <input type="hidden" name="is_take" value="0">
          <label class="label">是否上门取件</label>
        </div>
        <p class="remark">保内服务免运费，保外服务每单运费40元</p>
      </div>
      <div class="row-control">
        <select-control name="send-address" label="用户所在地" [result]="" (click)="_handleSelectClick('send-address')"></select-control>
        <select-control name="rec-address" label="回寄地址" [result]="" (click)="_handleSelectClick('rec-address')"></select-control>
        <div class="select-control protocol">
          <i class="icon icon-radio"></i>
          <div class="label">我已阅读以下并同意对寄修可能产生的费用进行支付。<br><a href="http://mcare.meizu.com/policy.html">《魅族手机售后服务政策》</a>及<a href="http://mcare.meizu.com/price-list.html">《保外服务报价清单》</a>
          </div>
        </div>
        <div class="btn-control">
          <a class="button cancel submit" href="javascript:;">下一步</a>
        </div>
      </div>
    </form>
  </div>
  <mcare-modal #mcareModal
    title="自定义弹窗"
    cancelButtonLabel="取消"
    confirmButtonLabel="确定"
    (onConfirm)="actionOnConfirm($event)"
    [modalId]="modalId">
    <div modal-header>
      <div class="row-control">
        <h4 class="title">{{modalTitle}}</h4>
      </div>
    </div>
  </mcare-modal>

</div>
