<div class="container">
  <div class="content">
    <form class="form">
      <div class="row-control">
        <div class="label-control select-control" data-target="orderAddress">
          <i class="icon icon-arrow"></i>
          <label class="label label-title">选择城市</label>
          <label class="label result"></label>
        </div>
        <div class="service-site"></div>
      </div>
      <div class="row-control">
        <div class="label-control select-control" data-target="orderTime">
          <i class="icon icon-arrow"></i>
          <label class="label label-title">预约时段</label>
          <label class="label result"></label>
        </div>
        <p class="remark">预约时间选择次日的三天内，如当天1月1号，次日1月2号，只能预约1月2号到1月4号的时间段</p>
        <div class="btn-control">
          <a class="button submit" href="javascript:;">下一步</a>
        </div>
      </div>
    </form>
  </div>
</div>
