@charset "UTF-8";

@import "./assets/global/base";

.container {
  font-family: Helvetica, Tahoma, Arial, 'Hiragino Sans GB', STXihei, "Microsoft YaHei", SimSun, Heiti, sans-serif;
  background-color: $bgColor;
  color: #000;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  @include font-dpr(16px);
  padding: px2rem(0) px2rem($bodyPadding);
}

.row-control {
  position: relative;
  vertical-align: middle;
  @include font-dpr(16px);
  box-sizing: border-box;

  .input-control,
  .label-control {
    position: relative;
    overflow: hidden;
    display: block;
    box-sizing: border-box;
    color: #000;
    @include font-dpr(16px);
    line-height: 1;
    border-bottom: 1px solid rgba(0, 0, 0, .05);

    // 验证错误
    &.error {
      border-color: #DF5742;
      border-bottom: 0;
    }

    .error-tips {
      position: relative;
      z-index: 2;
      border-top: 1px solid #DF5742;
      color: #DF5742;
      padding: px2rem(32) px2rem(36);
    }

    input {
      position: relative;
      z-index: 1;
      @include font-dpr(16px);
      width: 100%;
      outline: none;
      padding: px2rem(60) px2rem(36);
      color: #000;

      &::-webkit-input-placeholder {
        color: #000; /* change [placeholder color] by this*/
        text-shadow: none;
        -webkit-text-fill-color: rgba(0, 0, 0, .3);
      }
    }

    // 聚焦样式
    &.focus {
      // border-color: #18BD91;
      border-color: rgba(24, 189, 145, .5);

      // 聚焦的时候，改变指针样式
      input {
        color: #18BD91; /* change [input cursor color] by this*/
        text-shadow: 0 0 0 transparent; /* change [input font] by this*/
        -webkit-text-fill-color: #000;
      }
    }

    .label {
      font-size: inherit;
      text-align: left;
      float: left;
      color: inherit;
      width: initial;
      display: inline-block;
      padding: px2rem(60) 0 px2rem(60) px2rem(36);
      line-height: 1;

      &.result {
        position: absolute;
        @include font-dpr(12px);
        opacity: .5;
        right: px2rem(97);
        max-width: px2rem(600);
        top: 50%;
        padding: 0;
        transform: translateY(-50%);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .icon {
      position: absolute;
      z-index: 4;
      top: px2rem(87);
      transform: translateY(-50%);
      right: 0;
    }

    // 删除内容图标
    .icon-delete {
      display: block;
      background: url('/assets/global/images/icon-delete.png') center no-repeat;
      width: px2rem(120);
      height: px2rem(120);
      background-size: px2rem(54) px2rem(54);
    }

    .icon-radio {
      width: px2rem(72);
      height: px2rem(72);
      border-radius: 50%;
      border: 1px solid #DADADA;

      &.icon-checked {
        border: 0;
        background: url('/assets/global/images/radio-checked.png') center no-repeat;
        background-size: px2rem(72);
      }
    }

    .icon-arrow {
      width: px2rem(27);
      height: px2rem(17);
      background: url('/assets/global/images/icon-popup-arrow.png') center no-repeat;
      background-size: px2rem(27) px2rem(17);
    }
  }

  // 注释
  .remark {
    opacity: .5;
    padding: px2rem(30) 0;
    padding-left: px2rem(36);
    @include font-dpr(12px);
  }
}

.input-control.sms-control {
  input {
    width: 50%;
  }
  .icon {
    display: none;
  }
}

.btn-control {
  width: px2rem(858);
  border-bottom: 0;
  margin: px2rem(90) auto 0;
  text-align: center;

  // 公共按钮
  .button, button {
    display: inline-block;
    width: px2rem(720);
    height: px2rem(114);
    border-radius: px2rem(57);
    line-height: px2rem(114);
    padding: 0;
    border: 0;
    outline: 0;
    color: #fff;
    background-color: #18BD91;
    @include font-dpr(18px);
    text-align: center;

    &.cancel,
    &[disabled] {
      background-color: #B3B3B3;
    }
  }
}

// 公共表单
.form {
  @include font-dpr(16px);
  line-height: 1.5;
  color: #000;
}
